$base-width: 900px;
$phone-width: 560px;
$tablet-width: 960px;
$base-color: #658e5a;
$base-script-color: #626343;
$transparent-white: rgba(255,255,255,0.5);
$headline-font: 'Playfair Display', serif;

*{
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
  color: $base-script-color;

  &:hover{
    opacity: 0.8;
  }
}

ul{
  list-style: none;
}

html{
  background-color: $base-color;
  color: $base-script-color;
}

/* Loading */
// #loader{
//   position: fixed;
//   width: 100%;
//   height: 100vh;
//   background: #fff;
//   z-index: 20;
//   animation: disappear 1s linear 1.5s 1 forwards;
//
//   &-icon{
//     position: fixed;
//     top: calc(50% - 120px/2);
//     left: calc(50% - 120px/2);
//     width: 120px;
//     height: 120px;
//     border: 14px solid #f3f3f3;
//     border-top: 14px solid $base-color;
//     border-radius: 50%;
//     animation: spin 1.3s linear 2;
//   }
// }

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes disappear {
  100% {
    opacity: 0;
  }
}

#top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: $transparent-white;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover{
      opacity: 0.8;
    }

    &-icon{
      margin: 0 auto 2px;
    }
}

header{
  z-index: 10;
  width: 100%;
  position: fixed;
  height: 50px;
  line-height: 50px;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;

  i.fas{
    display: none;
    z-index: 11;
  }

  nav{
    padding-left: 90px;

    ul{
      display: flex;
      justify-content: flex-start;

      li{
        font-family: $headline-font;
        padding: 0 10px;
      }
    }
  }
}

main{

  .mv{
    width: 100%;
    height: 100vh;
    background-image: url("../img/mv.jpg");
    background-position: center top;
    background-size: cover;

    display: flex;
    align-items: center;

    &-content{
      font-family: $headline-font;
      margin: 0 auto;
      text-align: center;
      padding: 10px;
      border-radius: 10px;
      color: #fff;
      backdrop-filter: blur(1px);
      user-select: none;
      h1{
        font-size: 28px;
      }
      p{
        font-size: 22px;
      }
    }
  }

  .bg{
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    width: 100%;
    background-position: center bottom;
    background-size: cover;

    .container{
      *{
        opacity: 0;
      }
      width: 80%;
      max-width: $tablet-width;
      margin: 0 auto;
      background-color: $transparent-white;
      padding: 50px;
      // position: relative;
      // display: table;

      section{
        margin-bottom: 50px;

        h2{
          font-family: $headline-font;
          text-align: center;
          padding: 10px;
        }

        h3{
          padding-bottom: 10px;
        }
      }

      .profile{
        &-inner{
          display: flex;
          justify-content: space-between;

          .pic{
            width: 50%;
            text-align: center;
            #myself{
              width: 300px;
              border-radius: 50%;
            }
          }

          .info{
            width: 50%;
            align-self: center;
          }
        }
      }

      .service{
        ul{
          display: flex;
          text-align: center;
          li{
            width: 50%;
            p{
              text-align: justify;
              text-justify: inter-ideograph;
              padding: 10px;
            }
          }
        }
      }

      .works{
        @extend .service;
      }

      .contact{
        p{
          margin-bottom: 20px;
        }

        form{
          p{
            margin: 0 auto;
            width: 80%;

            label{
              padding-left: 10px;
            }

            input, textarea, button{
              box-sizing: border-box;
              padding: 10px;
              width: 100%;
              margin-bottom: 10px;
            }

            textarea{
              resize: none;
            }

            button{
              color: $base-script-color;
              background-color: #fff;
              text-decoration: none;
              border-radius: 20px;
            }
          }
        }

        iframe{
          display: none;
        }

        #thxMessage{
          display: none;
          width: 300px;
          background: #fff;
          border: $base-script-color 2px solid;
          border-radius: 20px;
          padding: 20px;
          margin: 0 auto;
          text-align: center;
          p{
            margin: 0;
          }
        }
      }
    }
  }
}

@media(max-width: $tablet-width){
  body{
    .bg{
      .container{
        padding: 30px;

        .profile{
          &-inner{
            .pic{
              #myself{
                width: 200px;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: $phone-width){
  header{
    background-color: transparent;
    transition: .5s;

    i.fas{
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;

      &#close{
        display: none;
      }
    }

    nav{
      opacity: 0;
      padding: 0;
    }
  }

  body{
    &.show{
      height: 100%;
      overflow: hidden;

      header{
        height: 100vh;
        backdrop-filter: blur(8px);

        i{
          &#hamburger{
            display: none;
          }

          &#close{
            display: block;
          }
        }

        nav{
          opacity: 1;
          transition: 1s;
          display: block;
          text-align: center;

          ul{
            display: block;
            align-items: center;

            li{
              font-weight: bold;
              vertical-align: middle;
            }
          }
        }
      }
    }

    .bg{
      .container{
        width: auto;
        max-width: $phone-width;

        .profile{
          &-inner{
            display: block;

            .pic, .info{
              width: 100%;
            }

            .info{
              padding-left: 10px;
            }
          }
        }

        .service{
          ul{
            display: block;
            li{
              width: 100%;
            }
          }
        }
      }
    }
  }
}

footer{
  font-family: $headline-font;
  height: 50px;
  line-height: 50px;
  background: #fff;
  text-align: center;
}
