@import "parameters.scss";

*{
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

html{
  background-color: #fff;
  color: $base-script-color;
  font-family: $font-base;
  font-size: 62.5%;

  body{
    font-size: 1.6rem;
    font-weight: 600;
  }
}

h2, h3{
  font-family: $headline-font;
  text-align: center;
}

h2{
  font-size: 3.2rem;
  margin: 0 auto 50px;
  position: relative;

  &:before{
    content: '';
    position: absolute;
    display: inline-block;
    top: 60%;
    left: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(transparent 30%, $base-script-color 80%);
  }
}

h3{
  margin: 0 auto 20px;
  font-size: 2.4rem;
}

li, a, input, textarea{
  outline: none;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  word-break: break-all;
  transition: 0.3s;
  color: $base-script-color;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  &:hover{
    opacity: 0.6;
  }

  &:active{
    opacity: 0.1;
  }

}

.btn{
  display: block;
  font-weight: 400;
  width: 150px;
  line-height: 50px;
  margin: 20px auto;
  text-align: center;
  border-radius: 5px;
  background: $base-script-color;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  &:hover{
    background: $base-color;
  }
}

/* Loading */
#loader{
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #fff;

  &-icon{
    position: fixed;
    top: calc(50% - 120px/2);
    left: calc(50% - 120px/2);
    width: 120px;
    height: 120px;
    border: 14px solid #f3f3f3;
    border-top: 14px solid $base-color;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover{
      opacity: 0.8;
    }

    &-icon{
      margin: 0 auto 2px;
    }
}

header{
  .header-content{
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    height: 50px;
    line-height: 50px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: rgba(255,255,255,0.7);

    #logo{
      float: left;
      margin-left: 30px;
      margin-top: 8px;
      height: 36px;
      opacity: 0.7;
    }

    i.fas{
      display: none;
      z-index: 11;
    }

    nav{
      float: right;
      padding-right: 30px;

      ul{
        display: flex;
        justify-content: flex-start;

        li{
          font-family: $headline-font;
          font-size: 2rem;
          padding: 0 15px;
          line-height: 50px;
        }
      }
    }
  }
}

main{
  .mv{
    width: 100vw;
    height: calc(100vh - 50px * 2);
    background-image: url("../img/mv.jpg");
    background-position: center top;
    background-size: cover;
    margin: 50px 0;

    display: flex;
    align-items: center;

    // #stalker{
    //   pointer-events: none;
    //   position: fixed;
    //   top: -8px;
    //   left: -8px;
    //   width: 16px;
    //   height: 16px;
    //   background: rgba(0,255,255,0.5);
    //   border-radius: 50%;
    //   transform: translate(0,0);
    //   transition: transform 0.2s;
    //   transition-timing-function: ease-out;
    //   z-index: 30;
    // }
    //
    &-content{
      font-family: $mv-font;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 2px #aaa;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      h1{
        font-size: 16rem;
      }
      p{
        font-size: 10rem;
      }
    }
  }

  .bg{
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    width: 100%;
    background-position: center bottom;
    background-size: cover;

    .container{
      width: 80%;
      max-width: $tablet-width;
      margin: 0 auto;
      background-color: rgba(255,255,255,0.7);
      padding: 50px;

      *{
        opacity: 0;
      }

      section{
        padding-top: 80px;
        margin-top: -80px;
        margin-bottom: 100px;

        &.single{
          padding-top: 100px;
        }
      }

      .profile{
        &-inner{
          display: flex;
          justify-content: space-between;

          .pic{
            width: 45%;
            margin-bottom: 30px;
            text-align: center;

            #myself{
              width: 300px;
              border-radius: 50%;
              -webkit-user-select: none;
                 -moz-user-select: none;
                  -ms-user-select: none;
                      user-select: none;
            }
          }

          .info{
            width: 55%;

            .introduction{
              margin-bottom: 50px;
            }
          }
        }

        .outline{
          h3#name{
            position: relative;
            z-index: 2;
            letter-spacing: 1rem;
          }

          &-inner{
            position: relative;
            width: 100%;

            #outline-inner-box{
              position: absolute;
              z-index: 1;
              width: 270px;
              height: 200px;
              margin: 0 auto;
              background: rgba(255, 255, 255, 0.8);
              border-radius: 50%;
              left: 50%;
              transform: rotate(-15deg) translate(-40%, -120px);
              transform-origin: center center;
            }

            .text{
              position: relative;
              z-index: 2;
              font-size: 2rem;
              text-align: center;
              margin: 0 auto;
            }
          }
        }

        #outline_clone{
          display: none;
        }

        &.single{
          .profile-inner{
            display: block;

            .pic{
              width: 100%;
            }

            .info{
              margin: 0 auto;
              width: 80%;
              p{
                line-height: 2;
                white-space: pre-line;
              }
            }

            dl.carrer{
              width: 90%;
              margin: 0 auto;
              line-height: 2;

              dt{
                float: left;
              }

              dd{
                padding-left: 120px;
              }
            }
          }
        }
      }

      .service{
        ul{
          display: flex;
          justify-content: space-between;
          text-align: center;
          margin-bottom: 20px;

          li{
            width: 30%;

            h3{
              margin-bottom: 10px;
            }

            i{
              margin-bottom: 20px;
            }

            p{
              text-align: justify;
              text-justify: inter-ideograph;
            }
          }

        }

        .accordion_inner{
          display: none;
          font-size: 1.6rem;
          margin-bottom: 50px;

          h3{
            text-align: center;

            &:after{
              content: '*';
            }
          }

          ul{
            text-align: left;

            li{
              dl{
                dt{
                  span{
                    display: inline-block;
                  }
                }

                dd{
                  padding-left: 50px;
                  padding-bottom: 10px;
                  margin-bottom: 10px;
                  border-bottom: 1px solid  $base-script-color;
                }
              }
            }
          }

          .notes{
            margin-left: auto;
            width: 50%;
            text-align: left;

            p:before{
              content: '*';
            }
          }
        }

      }

      .works{
        ul{
          text-align: center;
          margin: 0 auto;
          width: 100%;

          li{
            h3{
              br{
                display: none;
              }
            }

            img{
              width: 100%;
              margin-bottom: 20px;
            }

            a, i{
              color: $base-color;
            }

            p{
              text-align: justify;
              text-justify: inter-ideograph;
              padding: 10px;
              margin-bottom: 20px;
            }

            &.slick-slide{
              *{
                transition: .3s ease-in-out;
              }

              img{
                transform: scale(.8);
              }

              :not(img){
                color: transparent;
              }

              &.is-active{
                img{
                  transform: scale(1);
                }

                a, i{
                  color: $base-color;
                }

                h3, p{
                  color: $base-script-color;
                }
              }
            }
          }

          .slick-prev{
            left: 0;
          }

          .slick-next{
            right: 0;
          }

          .slick-prev, .slick-next{
            z-index: 1;
            width: 120px;
            height: 120px;
            transform: translateY(0);

            &:before{
              font-size: 120px;
            }
          }
        }

        &.single{
          h3{
            span{
              display: inline-block;
            }
          }

          ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;

            li{
              width: 48%;
            }
          }
        }
      }

      .skills{
        ul{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          text-align: center;

          li{
            width: 250px;
            margin: 20px;

            p{
              margin-top: 10px;
            }
          }
        }
      }

      .contact{
        &-content{
          width: 80%;
          margin: 0 auto;

          .contact-top-message{
            margin-bottom: 30px;

            p{
              text-align: center;
              margin-bottom: 20px;
            }
          }

          form{
            p{
              &:nth-child(odd){
                margin-bottom: 20px;
              }

              label{
                padding-left: 10px;
              }

              input, textarea{
                font-size: 1.8rem;
              }

              input[type="text"], textarea{
                font-family: $font-base;
                background-color: #eee;
                box-sizing: border-box;
                padding: 10px;
                width: 100%;
                margin-bottom: 50px;
                border: 2px solid $base-script-color;
                border-radius: 5px;
                transition: 0.3s;

                &:focus{
                  box-shadow: 0 0 5px $base-color;
                  border: 2px solid $base-color;
                }
              }

              textarea{
                resize: none;
                height: 300px;
              }

              &#submit{
                text-align: center;
              }
            }
          }

          iframe{
            display: none;
          }

          #thxMessage{
            display: none;
            width: 300px;
            background: #fff;
            border: $base-script-color 2px solid;
            border-radius: 20px;
            padding: 20px;
            margin: 0 auto;
            text-align: center;
            -webkit-animation: flash 1s infinite alternate;
                    animation: flash 1s infinite alternate;

            p{
              margin: 0;
            }
          }

          @-webkit-keyframes flash{
            from {border-color: #fff;}
            to{border-color: $base-script-color;}
          }

          @keyframes flash{
            from {border-color: #fff;}
            to{border-color: $base-script-color;}
          }
        }
      }
    }
  }
}

@media(max-width: $tablet-width){
  main{
    .bg{
      .container{
        padding: 30px;

        .profile{
          &-inner{
            .pic{
              #myself{
                width: 200px;
              }
            }
          }

          &.single{
            .profile-inner{
              .info{
                width: 90%;
              }
            }
          }

          .origin{
            display: none;
          }

          #outline_clone{
            display: block;
            margin-bottom: 80px;
          }
        }

        .service{
          ul{
            flex-direction: column;

            li{
              width: 80%;
              margin: 0 auto;

              p{
                margin-bottom: 20px;
              }
            }
          }

          .accordion_inner{

            ul{
              text-align: left;

              li{
                dl{
                  dt{
                    width: 45%;
                    float: left;
                    padding-right: 5%;
                  }

                  dd{
                    width: 50%;
                    padding-left: 50%;

                    margin-bottom: 30px;

                    &:after{
                      content: '';
                      display: block;
                      clear: both;
                    }
                  }
                }
              }
            }

            .notes{
              width: 90%;
              margin: 0 auto;
              text-align: left;

              p:before{
                content: '*';
              }
            }
          }
        }

        .works{
          ul{
            li{
              h3{
                font-size: 2.2rem;
              }
            }

            .slick-prev, .slick-next{
              width: 10vw;
              height: 10vw;
              transform: translateY(20%);

              &:before{
                font-size: 10vw;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: $phone-width){
  header{
    .header-content{
      height: 0;
      transition: .3s ease-out;

      #logo{
        display: none;
      }

      i.fas{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;

        &:hover{
          opacity: 0.8;
        }

        &#close{
          display: none;
        }
      }

      nav{
        display: none;
        padding: 0;
      }
    }
  }

  body{
    .mv{
      height: 100vh;
      margin: 0;

      &-content{
        h1{
          font-size: 11rem;
        }

        p{
          font-size: 8rem;
        }
      }
    }

    &.show{
      height: 100%;
      overflow: hidden;

      header{
        .header-content{
          height: 100vh;
          -webkit-backdrop-filter: blur(8px);
                  backdrop-filter: blur(8px);

          i{
            &#hamburger{
              display: none;
            }

            &#close{
              display: block;
            }
          }

          nav{
            display: block;
            height: 100%;
            float: none;
            text-align: center;

            ul{
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              li{
                margin: 25px 80px;
                font-size: 24px;
                text-shadow: 2px 2px 8px #fff, -1px -1px 2px #fff;
              }
            }
          }
        }
      }
    }

    .bg{
      .container{
        width: auto;
        max-width: $phone-width;

        .profile{
          &-inner{
            display: block;

            .pic, .info{
              width: 100%;
            }

            .info{
              padding-left: 10px;
            }
          }

          &.single{
            .profile-inner{
              .info{
                padding-left: 0;
                width: 100%;

                dl.carrer{
                  width: 100%;

                  dt{
                    float: none;
                  }

                  dd{
                    padding-left: 20px;
                  }
                }
              }
            }
          }
        }

        .works{
          ul{
            li{
              h3{
                br{
                  display: block;
                }
              }
            }

            .slick-prev, .slick-next{
              transform: translateY(70px);
            }
          }

          &.single{
            ul{
              flex-direction: column;

              li{
                width: 100%;
              }
            }
          }
        }

        .contact{
          &-content{
            width: 100%;
          }
        }
      }
    }
  }
}

footer{
  background: #eee;

  .footer-link{
    display: flex;
    justify-content: center;

    li{
      margin: 30px;
    }
  }

  p{
    font-family: $headline-font;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 20px;
  }
}
