$base-width: 900px;
$phone-width: 560px;
$tablet-width: 960px;
$base-color: #658e5a;
$base-script-color: #626343;
$headline-font: 'Playfair Display', serif;
$mv-font: 'Tangerine', cursive;

*{
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

html{
  background-color: #fff;
  color: $base-script-color;
}

a{
  text-decoration: none;
  color: $base-script-color;
  display: block;
  outline: none;

  &:hover{
    opacity: 0.8;
  }

  &:active{
    opacity: 0.1;
  }
}

ul{
  list-style: none;
}

/* Loading */
// #loader{
//   position: fixed;
//   width: 100%;
//   height: 100vh;
//   background: #fff;
//   z-index: 20;
//   animation: disappear 1s linear 1.5s 1 forwards;
//
//   &-icon{
//     position: fixed;
//     top: calc(50% - 120px/2);
//     left: calc(50% - 120px/2);
//     width: 120px;
//     height: 120px;
//     border: 14px solid #f3f3f3;
//     border-top: 14px solid $base-color;
//     border-radius: 50%;
//     animation: spin 1.3s linear 2;
//   }
// }

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes disappear {
  100% {
    opacity: 0;
  }
}

@keyframes disappear {
  100% {
    opacity: 0;
  }
}

#top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover{
      opacity: 0.8;
    }

    &-icon{
      margin: 0 auto 2px;
    }
}

header{

  .header-content{
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
    height: 50px;
    line-height: 50px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: rgba(255,255,255,0.7);

    #logo{
      float: left;
      margin-left: 50px;
      margin-top: 8px;
      height: 36px;
      opacity: 0.7;
    }

    i.fas{
      display: none;
      z-index: 11;
    }

    nav{
      float: right;
      padding-right: 50px;

      ul{
        display: flex;
        justify-content: flex-start;

        li{
          font-family: $headline-font;
          font-size: 16px;
          padding: 0 20px;
          line-height: 50px;
        }
      }
    }
  }
}

main{

  .mv{
    width: 100%;
    height: calc(100vh - 50px * 2);
    background-image: url("../img/mv.jpg");
    background-position: center top;
    background-size: cover;
    margin: 50px 0;

    display: flex;
    align-items: center;

    // #stalker{
    //   pointer-events: none;
    //   position: fixed;
    //   top: -8px;
    //   left: -8px;
    //   width: 16px;
    //   height: 16px;
    //   background: rgba(0,255,255,0.5);
    //   border-radius: 50%;
    //   transform: translate(0,0);
    //   transition: transform 0.2s;
    //   transition-timing-function: ease-out;
    //   z-index: 30;
    // }
    //
    &-content{
      font-family: $mv-font;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 2px #aaa;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      h1{
        font-size: 128px;
      }
      p{
        font-size: 82px;
      }
    }
  }

  .bg{
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    width: 100%;
    background-position: center bottom;
    background-size: cover;

    .container{
      *{
        opacity: 0;
      }
      width: 80%;
      max-width: $tablet-width;
      margin: 0 auto;
      background-color: rgba(255,255,255,0.5);
      padding: 50px;

      section{
        margin-bottom: 50px;

        h2{
          font-family: $headline-font;
          text-align: center;
          padding: 10px;
        }

        h3{
          padding-bottom: 10px;
        }
      }

      .profile{
        &-inner{
          display: flex;
          justify-content: space-between;

          .pic{
            width: 50%;
            text-align: center;
            #myself{
              width: 300px;
              -webkit-user-select: none;
                 -moz-user-select: none;
                  -ms-user-select: none;
                      user-select: none;
            }
          }

          .info{
            width: 50%;
            align-self: center;
          }
        }
      }

      .service{
        ul{
          display: flex;
          text-align: center;
          li{
            width: 50%;
            p{
              text-align: justify;
              text-justify: inter-ideograph;
              padding: 10px;
            }
          }
        }
      }

      .works{
        // @extend .service;
        ul{
          text-align: center;
          width: 60%;
          margin: 0 auto;

          li{
            img{
              width: 100%;
            }

            p{
              text-align: justify;
              text-justify: inter-ideograph;
              padding: 10px;
            }
          }
        }
      }

      .skills{
        ul{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          text-align: center;

          li{
            width: 250px;
            margin: 20px;

            p{

            }
          }
        }
      }

      .contact{
        p{
          margin-bottom: 20px;
        }

        form{
          p{
            margin: 0 auto;
            width: 80%;

            &:last-child{
              width: 200px;
              margin-top: 20px;
            }

            label{
              padding-left: 10px;
            }

            input, textarea, button{
              background-color: #eee;
              box-sizing: border-box;
              padding: 10px;
              width: 100%;
              margin-bottom: 20px;
              border: 1px solid $base-script-color;

              &:focus{
                outline: 0;
                border: 1px solid #006b56;
              }
            }

            textarea{
              resize: none;
            }

            button{
              color: $base-script-color;
              text-decoration: none;
              border-radius: 5px;
              font-size: 16px;

              &:hover{
                background-color: #ddd;
              }

              &:active{
                background: #ccc;
              }
            }
          }
        }

        iframe{
          display: none;
        }

        #thxMessage{
          display: none;
          width: 300px;
          background: #fff;
          border: $base-script-color 2px solid;
          border-radius: 20px;
          padding: 20px;
          margin: 0 auto;
          text-align: center;
          p{
            margin: 0;
          }
        }
      }
    }
  }
}

@media(max-width: $tablet-width){
  body{
    .bg{
      .container{
        padding: 30px;

        .profile{
          &-inner{
            .pic{
              #myself{
                width: 200px;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: $phone-width){
  header{
    .header-content{
      height: 100vh;
      background-color: transparent;
      transition: .3s;

      #logo{
        display: none;
      }

      i.fas{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;

        &:hover{
          opacity: 0.8;
        }

        &#close{
          display: none;
        }
      }

      nav{
        display: none;
        padding: 0;
      }
    }
  }

  body{
    .mv{
      height: 100vh;
      margin: 0;
    }

    &.show{
      height: 100%;
      overflow: hidden;

      header{
        .header-content{
          -webkit-backdrop-filter: blur(8px);
                  backdrop-filter: blur(8px);

          i{
            &#hamburger{
              display: none;
            }

            &#close{
              display: block;
            }
          }

          nav{
            display: block;
            float: none;
            text-align: center;

            ul{
              display: block;

              li{
                margin: 25px 80px;
                font-weight: bold;
                font-size: 24px;
                text-shadow: 2px 2px 8px #fff, -1px -1px 2px #fff;
              }
            }
          }
        }
      }
    }

    .bg{
      .container{
        width: auto;
        max-width: $phone-width;

        .profile{
          &-inner{
            display: block;

            .pic, .info{
              width: 100%;
            }

            .info{
              padding-left: 10px;
            }
          }
        }

        .service{
          ul{
            display: block;
            li{
              width: 100%;
            }
          }
        }
      }
    }
  }
}

footer{
  background: #eee;

  .footer-link{
    display: flex;
    justify-content: center;

    li{
      margin: 30px;
    }
  }

  p{
    font-family: $headline-font;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 20px;
  }
}
